In [1]:
# 1 - Confirming that pandas is installed

import pandas as pd

print(pd.__version__)

2.2.2

In [ ]:
# 2 - Load the Sales Data

sales_df = pd.read_csv('sales_data_2.csv')

In [3]:
# 3 - Display the fist 5 rows

print(sales_df.head())

  product_id customer_id  sales_date  quantity  price
0  Product A     CUST 68  2026-01-05       137   4266
1  Product B     CUST 69  2026-01-06        60   2217
2  Product C     CUST 70  2026-01-07        51   1191
3  Product D      CUST 1  2026-01-08        16   5609
4  Product E      CUST 2  2026-01-09       154   5994

In [4]:
# 4 - Display the last 5 rows

print(sales_df.tail())

   product_id customer_id  sales_date  quantity  price
21  Product V     CUST 19  2026-01-26       120   3323
22  Product W     CUST 20  2026-01-27        90   6734
23  Product X     CUST 21  2026-01-28       149    889
24  Product Y     CUST 22  2026-01-29       148   5209
25  Product Z     CUST 23  2026-01-30       164   7599

In [5]:
# 5 - Display data types

print(sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   26 non-null     object
 1   customer_id  26 non-null     object
 2   sales_date   26 non-null     object
 3   quantity     26 non-null     int64
 4   price        26 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.1+ KB
None

In [6]:
# 6 - Dispay Summary Statistics 

print(sales_df.describe())

         quantity        price
count   26.000000    26.000000
mean   107.884615  4570.153846
std     51.712534  2370.025024
min     16.000000   889.000000
25%     63.500000  2844.000000
50%    116.500000  4093.500000
75%    148.000000  5898.750000
max    200.000000  9663.000000