In [1]:
# 1 - Confirming I have pandas

import pandas as pd
print(pd.__version__)

2.2.2

In [2]:
from random import randint, random
from datetime import date

def create_sales_data_with_duplicates(file_name):
    header_row = ['product_id', 'customer_id', 'customer_age', 'sales_date', 'quantity', 'price']
    data_rows = []
    
    for i in range(65, 91):  # for 26 letters to make it 26 products
        
        # Randomly introduce missing values (with about 10% chance for each field)
        product_id = f'Product {chr(i)}' 
        customer_id = f'CUST {(i+2)%70 + 1}' 
        sales_date = f'{date(2026,1,(i-60))}' 
        quantity = f'{randint(10, 200)}' 
        price = f'{randint(500,10000)}' 
        customer_age = f'{randint(18,90)}' 

        details = [product_id, customer_id, customer_age, sales_date, quantity, price]
        data_rows.append(details)

    # Adding a few some duplicate rows
    for _ in range(7):  # Add 7 duplicate rows
        duplicate_row = data_rows[randint(0, len(data_rows) - 1)]
        data_rows.append(duplicate_row.copy())
    
    df = pd.DataFrame(data_rows, columns=header_row)
    df.to_csv(file_name, index=False)
    print(f"\n{file_name} creation done.")

create_sales_data_with_duplicates('sales_data_4.csv')

sales_data_4.csv creation done.

In [3]:
# 2 - Load the Data

def load_data(file_path):
    try:
        df = pd.read_csv(file_path)
        print("Data loaded successfully.")
        return df
    except FileNotFoundError:
        print(f"Error: File not found at {file_path}")
        return None

In [9]:
# Checking if the duplicates were created
df = load_data('sales_data_4.csv')

# Check for duplicates
print("\n--- Checking for Duplicates ---")
print(f"Number of duplicate rows: {df.duplicated().sum()}")
print(f"Are there any duplicates? {df.duplicated().any()}")

# Show the duplicate rows
if df.duplicated().any():
    print("\nDuplicate rows:")
    print(df[df.duplicated()])

Data loaded successfully.

--- Checking for Duplicates ---
Number of duplicate rows: 0
Are there any duplicates? False

In [5]:
# 3 - Implement Duplicate Removal Function

def remove_duplicates(dataframe):
    initial_shape = dataframe.shape
    df = dataframe.drop_duplicates()
    final_shape = dataframe.shape
    print(f"Removed {initial_shape[0] - final_shape[0]} duplicate rows.")
    return df

In [6]:
# 4 - Integrate into the Data Cleaning Pipeline

def load_and_clean_data(file_path):
    df = load_data(file_path)
    if df is not None:
        df = remove_duplicates(df)
        return df
    else:
        return None

In [ ]:
# 5 - Test the Implementation

file_path = 'sales_data_4.csv'
df = load_and_clean_data(file_path)

if df is not None:
    print("Cleaned DataFrame shape:", df.shape) # Checking if the duplicates were removed from df
    print(df.head())
else:
    print("Failed to load and clean data.")

Data loaded successfully.
Removed 0 duplicate rows.
Cleaned DataFrame shape: (26, 6)
  product_id customer_id  customer_age  sales_date  quantity  price
0  Product A     CUST 68            55  2026-01-05        89   2005
1  Product B     CUST 69            75  2026-01-06       112   9313
2  Product C     CUST 70            83  2026-01-07        99   6663
3  Product D      CUST 1            40  2026-01-08       147   8098
4  Product E      CUST 2            38  2026-01-09        43   2520

In [8]:
# Saving it to a file

df.to_csv('sales_data_4.csv')
df

   product_id customer_id  customer_age  sales_date  quantity  price
0   Product A     CUST 68            55  2026-01-05        89   2005
1   Product B     CUST 69            75  2026-01-06       112   9313
2   Product C     CUST 70            83  2026-01-07        99   6663
3   Product D      CUST 1            40  2026-01-08       147   8098
4   Product E      CUST 2            38  2026-01-09        43   2520
5   Product F      CUST 3            20  2026-01-10       126   6242
6   Product G      CUST 4            66  2026-01-11        13   9250
7   Product H      CUST 5            48  2026-01-12       146   6072
8   Product I      CUST 6            19  2026-01-13       171   4756
9   Product J      CUST 7            75  2026-01-14       140   5369
10  Product K      CUST 8            20  2026-01-15        18   6733
11  Product L      CUST 9            70  2026-01-16       156   2902
12  Product M     CUST 10            49  2026-01-17        47   3137
13  Product N     CUST 11            21  2026-01-18       159   9674
14  Product O     CUST 12            57  2026-01-19       181   8470
15  Product P     CUST 13            41  2026-01-20       158   1520
16  Product Q     CUST 14            29  2026-01-21        57   1354
17  Product R     CUST 15            47  2026-01-22        37   9116
18  Product S     CUST 16            39  2026-01-23       184   7642
19  Product T     CUST 17            77  2026-01-24       126   1500
20  Product U     CUST 18            68  2026-01-25        17   9897
21  Product V     CUST 19            28  2026-01-26       117   5332
22  Product W     CUST 20            43  2026-01-27       122   3411
23  Product X     CUST 21            26  2026-01-28       144   4377
24  Product Y     CUST 22            22  2026-01-29        65   5476
25  Product Z     CUST 23            82  2026-01-30       176   1761