In [1]:
# Confirming I have pandas installed

import pandas as pd
print(pd.__version__)

2.2.2

In [6]:
# Load Sales Data

sales_df = pd.read_csv('data/sample_superstore.csv')
print(sales_df.head())

        Ship Mode    Segment        Country             City       State  \
0    Second Class   Consumer  United States        Henderson    Kentucky
1    Second Class   Consumer  United States        Henderson    Kentucky
2    Second Class  Corporate  United States      Los Angeles  California
3  Standard Class   Consumer  United States  Fort Lauderdale     Florida
4  Standard Class   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region         Category Sub-Category     Sales  Quantity  \
0        42420  South        Furniture    Bookcases  261.9600         2
1        42420  South        Furniture       Chairs  731.9400         3
2        90036   West  Office Supplies       Labels   14.6200         2
3        33311  South        Furniture       Tables  957.5775         5
4        33311  South  Office Supplies      Storage   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

In [7]:
# Group Data by Product Category

grouped_sales = sales_df.groupby('Category')

In [11]:
# Calculate Total Sales for Each Category

total_sales_by_category = grouped_sales['Sales'].sum()

In [12]:
# Display Results

print(total_sales_by_category)

Category
Furniture          741999.7953
Office Supplies    718803.8720
Technology         836154.0330
Name: Sales, dtype: float64